// Google fonts

@import "colors";

// :Josefin
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:700,600,400,400italic,600italic,700italic);

// :Pacifico
@import url(http://fonts.googleapis.com/css?family=Pacifico);

$f-main: 'Josefin Slab', sans-serif;
$f-second: 'Pacifico', sans-serif;

.text {font-size: 14px;}

.text-main {
	@extend .text;
	color: $c-main;
}

.text-second {
	@extend .text;
	color: $c-second;
}

.vertical-text {
	
}

// mixins
