
@mixin text-vertical($margin, $float: none) {
  transform: rotate(-90deg);
  margin: $margin;
  position: fixed;
}

@mixin hover-color-shadow($color1, $color2, $shadow: none) {
	color: $color1;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: $color2;
      text-shadow: $shadow;
    }
}