
/*
 *  setting.scss
 */

//  body
body {
	@extend .text-main;
	font-family: $f-main;
	width: 60%;
	margin: $margin-body;
	//border-left: 1px solid $c-third;
	//border-right: 1px solid $c-third;
	//border-bottom: 1px solid $c-third;
}

a {
	text-decoration: none;
	color: $c-main;
}