
/*
 *  setting.scss
 */

//  body
body {
	@extend .text-main;
	font-family: $f-main;
	width: $body-width;
	margin: $margin-body;
	background: $mainBackground;
	//line-height: $line-height;
}

a {
	text-decoration: none;
	color: $c-main;
}