// ***** MENU *****

// header menu

header {

  .menu {

    ul {
      &.first {
        text-align: center;
        margin-left: - ($menu-elem-margin/2);
        padding: 0;
      }
    }

    li {
      position: relative;
      display: inline-block;
      cursor: pointer;
      list-style: none;
      @include header-menu-font();

      &.elem {
        transition:all 0.3s ease;
        &:hover {
          transform: scale(1.3);
        }
      }

      .sub{
        position: absolute;
        ul {
          //position: absolute;
          padding: 0 25%;
        }
        .sub-elem{
          background-color: transparent !important;
          display: none;
          color: $c-second;
          margin: 0;
        }

        a {
          @include hover-color-shadow($c-second, $c-third);
        }
      }

      &:nth-child(n+2) {
        margin-left: $menu-elem-margin;
      }

      a {
        @include hover-color-shadow($c-main, $c-second, 1px 1px 1px $c-main);
      }
    }
  }
}


