// ***** MENU *****

// header menu

header {
  position: absolute;
  width: 100%;
  top: 0;

  .menu {
    @include header-menu-text;
    margin-top: $margin-l;
    text-align: center;

    a {
      margin: 0 $margin-l*2 50px 0;
      border-bottom: 0 solid $c-main;
      transition: border-width .06s ease-in-out;

      &:hover {
        border-width: 2px;
      }
    }


  }
}


