.container {
  padding: $padding-container;
  height: 100%;
  padding-top: 100px;
  box-sizing: border-box;
  border: 1px solid $c-main;
}

.container ~ .container {
  //background-color: transparent;
};