.side-menu {

  transition: height 1s ease-in-out;

  .border {
    border-top: 1px solid $c-main;
    line-height: 1px;
    width: 0;
    transition: width .4s ease-in-out;

  }
  position: fixed;
  left: $margin-l;
  top: 66px;
  width: 200px;

  & :nth-child(n) {
    display: block;
  }
}